<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora</title>
</head>
<body>
<div align="center">
    <h1>Calculadora</h1>
</divalign>
<div align="center">
    <form action="cal_submit" method="POST">{% csrf_token %}

        <input type="number" name="n1" required placeholder="0">
        <strong></strong>
        <input type="number" name="n2" required placeholder="0">
        <div align="center">
            <strong>Operação:</strong>
            <input type="radio" id="soma" name="operacao" value="soma" checked>
            <label for="soma">+</label>
            <input type="radio" id="sub" name="operacao" value="sub">
            <label for="sub">-</label for="sub">
            <input type="radio" id="divi" name="operacao" value="divi">
            <label for="divi">/</label for="divi">
            <input type="radio" id="multi" name="operacao" value="multi">
            <label for="multi">x</label for="multi">
        </div>
        <button type="cal_submit">Enviar</button>
    </form>

</div>

</body>
</html>