{% extends 'model-page.html' %}
{% block content %}
    <div align="center">
        <h1>Calculadora</h1>
    </div>
    <div align="center">
        <form action="cal_submit" method="POST">{% csrf_token %}

            <input type="number" name="n1" required placeholder="0" min="0">
            <strong></strong>
            <input type="number" name="n2" required placeholder="0" min="0">
            <div align="center">
                <strong>Operação:</strong>
                <input type="radio" id="soma" name="operacao" value="soma" checked>
                <label for="soma">+</label>
                <input type="radio" id="sub" name="operacao" value="sub">
                <label for="sub">-</label >
                <input type="radio" id="divi" name="operacao" value="divi">
                <label for="divi">/</label>
                <input type="radio" id="multi" name="operacao" value="multi">
                <label for="multi">x</label>
            </div>
            <button type="submit">Enviar</button>
        </form>
        <div style="overflow:hidden;">
            {% for message in messages %}
                <h3 class="{{ message.tags }}"> {{ message }} </h3>
            {% endfor %}
        </div>
    </div>
    {% endblock %}